# Property Finder
PF_API_KEY=
PF_API_SECRET=
PF_TOKEN_URL=https://atlas.propertyfinder.com/v1/auth/token
PF_LEADS_URL=https://atlas.propertyfinder.com/v1/leads
PF_LISTINGS_URL=https://atlas.propertyfinder.com/v1/listings

# Bitrix
PF_LEAD_SOURCE_ID=
WEBHOOK_URL=
DEFAULT_RESPONSIBLE_PERSON_ID=
LISTINGS_ENTITY_TYPE_ID=
REFERENCE_FIELD_ID=
OWNER_ID_FIELD_ID=
OWNER_NAME_FIELD_ID=
OWNER_NAME_FIELD_ID_ALT=
AGENT_EMAIL_FIELD_ID=
LOCATION_FIELD_ID=
PF_ID_FIELD_ID=
LEAD_REFERENCE_FIELD_ID=
LEAD_PROPERTY_LINK_FIELD_ID=
LEAD_TRACKING_LINK_FIELD_ID=
LEAD_CLIENT_NAME_FIELD_ID=
LEAD_CLIENT_PHONE_FIELD_ID=
LEAD_CLIENT_EMAIL_FIELD_ID=
IDS_TO_IGNORE=

# LEAD/DEAL/SPA
LEAD_DESTINATION=
SPA_ENTITY_TYPE_ID=
LEAD_COMMENT_FIELD=
CATEGORY_ID=
